<section class="slice-lg masthead" style="background: #fff !important; padding: 0 !important;">
  <!-- Name of the Sector -->
  <div class="menu-heading">
    <a class="back-to-menus" href="index.html">
      <%= image_pack_tag "icon_arrow_left_black.png" %>
    </a>
    Glossary of <%= @sector.name %>
  </div>

  <div class="flag-bar details-search">
    <div class="search-input">
      <%= image_pack_tag "search_path.png", class: "search-icon" %>
      <%= image_pack_tag "cursor.png", class: "cursor-icon" %>
      <input type="search" name="" placeholder="Find your company here" aria-describedby="button-addon1">
      <%= image_pack_tag "dictation_path.png", class: "dictation-icon" %>
    </div>
    <button type="search">map</button>
  </div>

  <!-- Filter button -->
  <div class="button-filter">
    <button>filter <%= image_pack_tag "image_filter.png"%></button>
  </div>
</section>
