<section class="slice-lg masthead" style="background: #fff !important; padding: 0 !important;">
  <!-- Name of the Sector -->
  <div class="menu-heading">
    <a class="back-to-menus" href="index.html">
      <%= image_pack_tag "icon_arrow_left_black.png" %>
    </a>
    <%= @sector.name %>
  </div>

  <div class="flag-bar details-search">
    <div class="search-input">
      <%= image_pack_tag "icon_search.png", class: "search-icon" %>
      <%= image_pack_tag "icon_cursor.png", class: "cursor-icon" %>
      <input type="search" name="" placeholder="Search" aria-describedby="button-addon1">
      <%= image_pack_tag "icon_dictation.png", class: "dictation-icon" %>
    </div>
    <button type="search">map</button>
  </div>

  <!-- Filter button -->
  <div class="button-filter">
    <button>Filter <%= image_pack_tag "image_filter.png"%></button>
  </div>

	<!-- List of companies in the Sector -->
  <div class="menu-inner-details">
    <ul>
      <% @companies.each do |company| %>
        <li>
          <div class="pro-details">
            <a class="pro-name" href="menu_full_detail.html"><%= company.name %> <%= image_pack_tag "logo.png" %></a>
            <p class="common-text description-pro"><%= company.sub_sector.name %></p>
            <p class="common-text code-pro">5 Rue de Thorigny, 57003</p>
            <p class="common-text timing-pro"><span>Closed.</span> Opens 10:30 Fri</p>
          </div>
          <div class="pro-img">
            <img src="<%= company.logo %>", class="img-rhs">
            <p class="cont-details">
              <%= image_pack_tag "icon_call_small.png" %>
              <%= image_pack_tag "icon_chat_small.png" %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
