<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
<!-- Section of the carousel -->
							<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							  <div class="carousel-inner">
							    <div class="carousel-item active">
							    	<%if @company.upload_logo.attached?%>
							      	<%= image_tag(@company.upload_logo, class: 'd-block w-100') %>
							      <%else%>
							      	<%= image_tag(@company.logo, class: 'd-block w-100') %>
							      <%end%>
							    </div>
							    <div class="carousel-item">
							      <%if @company.upload_logo.attached?%>
							      	<%= image_tag(@company.upload_logo, class: 'd-block w-100') %>
							      <%else%>
							      	<%= image_tag(@company.logo, class: 'd-block w-100') %>
							      <%end%>
							    </div>
							    <div class="carousel-item">
							      <%if @company.upload_logo.attached?%>
							      	<%= image_tag(@company.upload_logo, class: 'd-block w-100') %>
							      <%else%>
							      	<%= image_tag(@company.logo, class: 'd-block w-100') %>
							      <%end%>
							    </div>
							  </div>
							  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
<!-- Section of the company -->
							<div class="container-fluid">
							  <div class="row no-gutters">

							  	<div class="col-auto mr-auto">
							 
							        <h5  style="margin-bottom: 0; font-weight: bold; color: orange"><%= @company.name %></h5>
							        <h6 class="card-text" style="margin-bottom: 0"><%= @company.sector.name %></h6>
							        <p class="card-text font-weight-normal"><%= @company.sub_sector.name %></p>
							     
							    </div>
							    <div class="col-auto">
							      
							      	<%if @company.upload_logo.attached?%>
												  <span><%= image_tag(@company.upload_logo, class: 'rounded-circle border border-primary border-2', width: 80, height: 70) %></span>
											<%else%>
							      			<span><%= image_tag(@company.logo, class: 'rounded-circle border border-primary border-2', width: 80, height: 70) %></span>
							      	<%end%>
							    	  
    							</div>
    							 </div>
							  </div>
						
<!-- Tabs Navbar Boomerang -->
						  <div class="tabs tabs--style-2" role="tabpanel">
						    <!-- Nav tabs -->
						    <ul class="nav nav-tabs" role="tablist" style="padding: 0px 10px">
						        <li class="nav-item" role="presentation">
						          <a href="#tabTwo-1" aria-controls="overview" role="tab" data-toggle="tab" class="nav-link active text-center text-normal strong-600">Overview</a>
        						</li>
       							<li class="nav-item" role="presentation">
            					<a href="#tabTwo-2" aria-controls="photo" role="tab" data-toggle="tab" class="nav-link text-center text-normal strong-600">Photos</a>
        						</li>
       							<li class="nav-item" role="presentation">
            					<a href="#tabTwo-3" aria-controls="products" role="tab" data-toggle="tab" class="nav-link text-center text-normal strong-600">Products</a>
        						</li>
    								<li class="nav-item" role="presentation">
            					<a href="#tabTwo-4" aria-controls="pointofsale" role="tab" data-toggle="tab" class="nav-link text-center text-normal strong-600">Location</a>
        						</li>
    						</ul>
<!-- Tab panes -->

						    <div class="tab-content">
						      <div role="tabpanel" class="tab-pane active" id="tabTwo-1">
						        <div class="tab-body" style="padding: 0px 15px">

                        <!-- /.panel-heading -->
                        <div class="panel panel-default">
	                        <div class="panel-body text-center">
	                            <button type="button" class="btn btn-outline-primary btn-circle" style="margin: 20px 40px; width: 30px; height: 30px"><i class="fa fa-phone-alt"></i>
	                            	<h6 style="margin-top: 8px">Call</h6>
	                            </button>
	                            <button type="button" class="btn btn-outline-primary btn-circle" style="margin: 20px 40px; width: 30px; height: 30px"><i class="fa fa-comments"></i>
	                            	<h6 style="margin-top: 8px">Chat</h6>
	                            </button>
	                            <button type="button" class="btn btn-outline-primary btn-circle" style="margin: 20px 40px; width: 30px; height: 30px"><i class="fa fa-list"></i>
	                            	<h6 style="margin-top: 8px">Services</h6>
	                            </button>
	                            <button type="button" class="btn btn-outline-primary btn-circle" style="margin: 20px 40px; width: 30px; height: 30px"><i class="fa fa-directions"></i>
	                            	<h6 style="margin-top: 8px">GPS</h6>
	                            </button>
	                        </div>
	                      </div>
	                      <hr>


                    	<div style="padding: 10px 0px">
	                    	<p style="margin-bottom: 0rem; text-decoration: underline; text-decoration-color: orange; font-weight: bold">
	                   		Description :
	                			</p>
	                    	<p style="margin-bottom: 2rem">
	                   			<%= @company.description %>
	                			</p>
	                			<p style="margin-bottom: 0rem; text-decoration: underline; text-decoration-color: orange; font-weight: bold">
	                   		Information complémentaires :
	                			</p>
	                			<p style="margin-bottom: 0rem">
	                   			<i class="fas fa-envelope"></i> : <%= @company.email %>
	                			</p>
	                			<p>
	                   			<i class="fas fa-phone-alt"></i> : (<%= @company.country.code %>) <%= @company.number %>
	                			</p>
                			</div>
            				</div>
        					</div>
        					<div role="tabpanel" class="tab-pane" id="tabTwo-2">
            				<div class="tab-body" style="padding: 0px 15px;">
                				<p class="imglist" style="max-width: 1000px; text-align: center">
														<%if @company.upload_logo.attached?%>
  													 		<%= link_to image_tag(@company.upload_logo, width: 240, height: 160, style:"margin-bottom:5px"), @company.upload_logo, :data => { :fancybox => 'images', :caption => 'Upload Logo' } %>
														<%else%>
								      					<%= link_to image_tag(@company.logo, width: 240, height: 160, style:"margin-bottom:5px"), @company.logo, :data => { :fancybox => 'images', :caption => 'Logo' } %></span>
								      			<%end%>
												
														<% @company.photo_companies.each do |photo| %>
														    <%= link_to image_tag(@company.photo, width: 240, height: 160, style:"margin-bottom:5px"), @company.photo, :data => { :fancybox => 'images', :caption => 'Upload photo' } %>
														<%end%>
														    	
														  <a href="https://source.unsplash.com/eWFdaPRFjwE/1500x1000" data-fancybox="images" data-caption="Mallorca, Llubí, Spain">
														    <img src="https://source.unsplash.com/eWFdaPRFjwE/240x160" style="margin-bottom: 5px" />
														  </a>

														  <a href="https://source.unsplash.com/c1JxO-uAZd0/1500x1000" data-fancybox="images" data-caption="Danish summer">
														    <img src="https://source.unsplash.com/c1JxO-uAZd0/240x160" style="margin-bottom: 5px"/>
														  </a>

														  <a href="https://source.unsplash.com/eXHeq48Z-Q4/1500x1000" data-fancybox="images" data-caption="Sunrise above a sandy beach">
														    <img src="https://source.unsplash.com/eXHeq48Z-Q4/240x160" style="margin-bottom: 5px"/>
														  </a>

														  <a href="https://source.unsplash.com/RFgO9B_OR4g/1500x1000" data-fancybox="images" data-caption="Woman on a slope by the shore">
														    <img src="https://source.unsplash.com/RFgO9B_OR4g/240x160" style="margin-bottom: 5px"/>
														  </a>

														  <a href="https://source.unsplash.com/7bwQXzbF6KE/1500x1000" data-fancybox="images" data-caption="Mountain hiking sunset">
														    <img src="https://source.unsplash.com/7bwQXzbF6KE/240x160" style="margin-bottom: 5px"/>
														  </a>

														  <a href="https://source.unsplash.com/NhU0nUR7920/1500x1000" data-fancybox="images" data-caption="Sunset Picnic">
														    <img src="https://source.unsplash.com/NhU0nUR7920/240x160" style="margin-bottom: 5px"/>
														  </a>

														  <a href="https://source.unsplash.com/B2LYYV9-y0s/1500x1000" data-fancybox="images" data-caption="On them Indiana Nights">
														    <img src="https://source.unsplash.com/B2LYYV9-y0s/240x160" style="margin-bottom: 5px"/>
														  </a>
														</p>             			
            				</div>
        					</div>
        					<div role="tabpanel" class="tab-pane" id="tabTwo-3">
            				<div class="tab-body" style="padding: 0px 15px">
                			<p>
                    		Detractis detrahere concipere ac ut et inveniant to. Im perductae ut at ecclesiae assentiri eo. Ea ergo ausi ac otii suas. Utrum me sequi falsi ut atque. Existeret conformes his rei scientiis. Virorum corpora hac iis brachia
                			</p>
                			<p>
                    		Viam sumi mo id erit. Objectioni mo de necessario crediderim. Imo terra vox alios aut lor quasi. Vim quaero aut videri pendam plures duo. Extat neque arcte re ad etiam.
                			</p>
            				</div>
        					</div>
        					<div role="tabpanel" class="tab-pane" id="tabTwo-4">
            				<div class="tab-body" style="padding: 0px 15px">
                			<p>
                    		Mettre API Google
               				</p>
                			<p>
                   			<%= @company.name %>
                			</p>
            				</div>
        					</div>
    						</div>
							</div>

