<!-- MAIN WRAPPER -->
<div class="body-wrap">
  <div id="st-container" class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <!-- Section of the carousel -->
        <div class="back-arrow-black hide"><a href="javascript:void(0)"><%= image_pack_tag 'icon_arrow_left_black.png' %></a></div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="back-arrow-white"><a href="javascript:void(0)"><%= image_pack_tag 'icon_arrow_left_black.png' %></a></div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%if @company.upload_logo.attached?%>
                <%= image_tag(@company.upload_logo, class: 'd-block w-100') %>
              <%else%>
                <%= image_tag(@company.logo, class: 'd-block w-100') %>
              <%end%>
            </div>
            <div class="carousel-item">
              <%if @company.upload_logo.attached?%>
                <%= image_tag(@company.upload_logo, class: 'd-block w-100') %>
              <%else%>
                <%= image_tag(@company.logo, class: 'd-block w-100') %>
              <%end%>
            </div>
            <div class="carousel-item">
              <%if @company.upload_logo.attached?%>
                <%= image_tag(@company.upload_logo, class: 'd-block w-100') %>
              <%else%>
                <%= image_tag(@company.logo, class: 'd-block w-100') %>
              <%end%>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <!-- Tabs Navbar Boomerang -->
        <div class="tabs tabs--style-2" role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a href="#tabTwo-1" aria-controls="overview" role="tab" data-toggle="tab" class="nav-link active text-center text-normal strong-600">Overview</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="#tabTwo-2" aria-controls="photo" role="tab" data-toggle="tab" class="nav-link text-center text-normal strong-600">Photos</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="#tabTwo-3" aria-controls="products" role="tab" data-toggle="tab" class="nav-link text-center text-normal strong-600">Products</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="#tabTwo-4" aria-controls="pointofsale" role="tab" data-toggle="tab" class="nav-link text-center text-normal strong-600">Location</a>
            </li>
          </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabTwo-1">
            <div class="overview">
              <div class="kitchen-detail-name"><%= @company.name %></div>
              <div class="see-more-hidden">
                <div class="overview-details">
                  <div class="kitchen-detail">
                    <div class="restro">Restaurant <span>$$<span>$$</span></span></div>
                    <div class="name-grill"><%= @company.sub_sector.name %></div>
                    <div class="name-address">5 Rue de Thorigny, 75003</div>
                  </div>
                  <div class="name-image">
                    <%if @company.upload_logo.attached?%>
                      <span>
                        <%= image_tag(@company.upload_logo, class: 'rounded-circle border border-primary border-2', width: 80, height: 70) %>
                      </span>
                    <%else%>
                      <span>
                        <%= image_tag(@company.logo, class: 'rounded-circle border border-primary border-2', width: 80, height: 70) %>
                      </span>
                    <%end%>
                  </div>
                </div>
                <div class="timing-more">
                  <p><span>Closed.</span> Opens 10:30 Fri<a href="javascript:void(0)"><%= image_pack_tag "icon_arrow_down.png" %></a></p>
                  <button class="see-more" id="see-more-page">See more</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
