<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adress.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @adress.city_id %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @adress.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @adress.lng %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
